body{
  background-image: url("../../assets/images/bg.jpg");
  background-repeat: repeat;
  background-size: cover;
}
}

.gpmargintop{
  margin-top: 100px;
}

.gpmarginbottom{
  margin-bottom: 100px;
}

.gifSize img {
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 400px;
}

.gpheight {
  height: 100%;
  max-height: 100px;
  min-height: 50px;
}

.gpheight2 {
  height: 100%;
  max-height: 1000px;
  min-height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gppadding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.timer {
  font-size: 140px;
}

.questionHeading {
  font-size: 35px;
  font-weight: bold;
  line-height: 40px
}

#question {
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
}

#question div {
  /* font-style: italic; */
  font-weight: normal;
}

#question div:hover {
  background-color: #d1d2d3;
}

.instructionText {
  font-size: 20px
}

.picSize {
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 780px;
}

.gpbg {
  background-color: #acd0c0;
}

.gpbg1 {
  background-color: #ffffff;
}

.seebutton {
  visibility: hidden;
}

/*.blink provide blicking animation */

.blink {
  animation: blinker 1.5s linear infinite;
}

/*.blink provide blicking animation when timer is <10 seconds */

.blink1 {
  animation: blinker 2s linear infinite;
  color: red;
}

/*.blink provide blicking animation for Enter button*/

.blink2 {
  animation: blinker 4s linear infinite;
}

/*.blink provide blicking animation for Enter button*/

.blink3 {
  animation: blinker 1s linear infinite;
  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
